ccd-common-models/src/main/resources/xsdSchemas/criminalFileContentSecure.xsd

<xsd:schema targetNamespace="http://reeks.bcgov/CCD.Source.CriminalFileContent.ws.provider:CriminalFileContentSecure"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://reeks.bcgov/CCD.Source.CriminalFileContent.ws.provider:CriminalFileContentSecure">

    <xsd:element name="getCriminalFileContentSecure">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RequestAgencyIdentifierId" nillable="true" type="xsd:string"/>
                <xsd:element name="RequestPartId" nillable="true" type="xsd:string"/>
                <xsd:element name="RequestDtm" nillable="true" type="xsd:dateTime"/>
                <xsd:element name="ApplicationCd" nillable="true" type="xsd:string"/>
                <xsd:element name="agency_identifier_cd" nillable="true" type="xsd:string"/>
                <xsd:element name="room_cd" nillable="true" type="xsd:string"/>
                <xsd:element name="proceeding_date" nillable="true" type="xsd:dateTime"/>
                <xsd:element name="appearanceID" nillable="true" type="xsd:string"/>
                <xsd:element name="MdocJustinNo" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getCriminalFileContentSecureResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ResultCd" nillable="true" type="xsd:string"/>
                <xsd:element name="ResultMessage" nillable="true" type="xsd:string"/>
                <xsd:element name="fileContent" nillable="true" type="tns:FileContentDoc"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="FileContentDoc">
        <xsd:sequence>
            <xsd:element name="CourtLocaCd"  type="xsd:string" minOccurs="0"/>
            <xsd:element name="CourtRoomCd"  type="xsd:string" minOccurs="0"/>
            <xsd:element name="CourtProceedingDate"  type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="AppearanceId"  type="xsd:string" maxOccurs="unbounded"/>
            <xsd:element name="MdocJustinNo" nillable="true" type="xsd:string"/>
            <xsd:element name="AccusedFile" type="tns:AccusedFileType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AccusedFileType">
        <xsd:sequence>
            <xsd:element name="FileNumber"  type="xsd:string"/>
            <xsd:element name="FileLocaAgencyIdentifierCd"  type="xsd:string"/>
            <xsd:element name="MdocJustinNo"  type="xsd:string"/>
            <xsd:element name="MDocInfoSeqNo"  type="xsd:string"/>
            <xsd:element name="PhysTicketSeriesTxt"  type="xsd:string" minOccurs="0"/>
            <xsd:element name="PhyFileFolderNo"  type="xsd:string"/>
            <xsd:element name="CourtClassCd"  type="xsd:string"/>
            <xsd:element name="CourtLevelCd"  type="xsd:string"/>
            <xsd:element name="PartId"  type="xsd:string"/>
            <xsd:element name="ProfSeqNo"  type="xsd:string"/>
            <xsd:element name="SealTypeCd" nillable="true" type="xsd:string"/>
            <xsd:element name="FiledDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="ArrestWarrant" nillable="true" type="tns:ArrestWarrantType" maxOccurs="unbounded"/>
            <xsd:element name="Ban" nillable="true" type="tns:BanTypes" maxOccurs="unbounded"/>
            <xsd:element name="ProtectionOrder" nillable="true" type="tns:ProtectionOrderType" maxOccurs="unbounded"/>
            <xsd:element name="CFCOrder" nillable="true" type="tns:CFCOrderType" maxOccurs="unbounded"/>
            <xsd:element name="HearingRestriction" nillable="true" type="tns:HearingRestrictionType"
                         maxOccurs="unbounded"/>
            <xsd:element name="Document" nillable="true" type="tns:DocumentType" maxOccurs="unbounded"/>
            <xsd:element name="Appearance" nillable="true" type="tns:AppearanceTypes" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ArrestWarrantType">
        <xsd:sequence>
            <xsd:element name="FileNumberText"  type="xsd:string"/>
            <xsd:element name="WarrantDate"  type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BanTypes">
        <xsd:sequence>
            <xsd:element name="BanTypeCd"  type="xsd:string"/>
            <xsd:element name="BanTypeDescription"  type="xsd:string"/>
            <xsd:element name="BanTypeAct"  nillable="true" type="xsd:string"/>
            <xsd:element name="BanTypeSection" nillable="true" type="xsd:string"/>
            <xsd:element name="BanTypeSubSection" nillable="true" type="xsd:string"/>
            <xsd:element name="BanTypeParagraph" nillable="true" type="xsd:string" />
            <xsd:element name="BanTypeSubParagraph" nillable="true" type="xsd:string" />
            <xsd:element name="BanTypeShortDescription" nillable="true" type="xsd:string"/>
            <xsd:element name="BanStatuteId" nillable="true" type="xsd:string"/>
            <xsd:element name="BanAcprSeqNo" type="xsd:string"/>
            <xsd:element name="BanStatus" type="tns:BanStatus" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BanStatus">
        <xsd:sequence>
            <xsd:element name="BanStatusDate" type="xsd:dateTime"/>
            <xsd:element name="BanStatusCd" type="xsd:string"/>
            <xsd:element name="BanStatusDsc" type="xsd:string" />
            <xsd:element name="BanCommentText" nillable="true" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ProtectionOrderType">
        <xsd:sequence>
            <xsd:element name="POROrderIssueDate"  type="xsd:dateTime"/>
            <xsd:element name="OrderTypeDsc"  type="xsd:string"/>
            <xsd:element name="PORConditionText"  type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CFCOrderType">
        <xsd:sequence>
            <xsd:element name="CFCOrderIssueDate"  type="xsd:dateTime"/>
            <xsd:element name="OrderTypeDsc"  type="xsd:string"/>
            <xsd:element name="CFCConditionText"  type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="HearingRestrictionType">
        <xsd:sequence>
            <xsd:element name="HearingRestrictiontype"  type="xsd:string"/>
            <xsd:element name="JudgeName"  type="xsd:string"/>
            <xsd:element name="HearingRestrictionDate"  type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocumentType">
        <xsd:sequence>
            <xsd:element name="DocmClassification"  type="xsd:string"/>
            <xsd:element name="DocmId"  type="xsd:string"/>
            <xsd:element name="IssueDate"  type="xsd:dateTime"/>
            <xsd:element name="DocmFormId"  type="xsd:string"/>
            <xsd:element name="DocmFormDsc"  type="xsd:string"/>
            <xsd:element name="DocmDispositionDsc"  type="xsd:string" minOccurs="0"/>
            <xsd:element name="DocmDispositionDate"  type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="ImageId"  type="xsd:string" minOccurs="0"/>
            <xsd:element name="DocumentPageCount" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AppearanceTypes">
        <xsd:sequence>
            <xsd:element name="AppearanceId"  type="xsd:string"/>
            <xsd:element name="AppearanceDate"  type="xsd:dateTime"/>
            <xsd:element name="CourtAgencyIdentifier"  type="xsd:string"/>
            <xsd:element name="CourtRoom"  type="xsd:string"/>
            <xsd:element name="AppearanceNote"  type="xsd:string" minOccurs="0"/>
            <xsd:element name="EstimatedTimeHour"  type="xsd:string" minOccurs="0"/>
            <xsd:element name="EstimatedTimeMin"  type="xsd:string" minOccurs="0"/>
            <xsd:element name="ConfirmStatusDsc"  type="xsd:string" minOccurs="0"/>
            <xsd:element name="JudgesRecommendation" nillable="true" type="xsd:string"/>
            <xsd:element name="AppearanceCount" nillable="true" type="tns:AppearanceCountTypes" maxOccurs="unbounded"/>
            <xsd:element name="PartyAppearanceMethod" nillable="true" type="tns:PartyAppearanceMethodType"
                         maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AppearanceCountTypes">
        <xsd:sequence>
            <xsd:element name="AppcId"  type="xsd:string"/>
            <xsd:element name="CountNumber"  type="xsd:string"/>
            <xsd:element name="AppearanceReason"  type="xsd:string"/>
            <xsd:element name="AppearanceResult"  type="xsd:string" minOccurs="0"/>
            <xsd:element name="Finding" nillable="true" type="xsd:string"/>
            <xsd:element name="SectionTxt" nillable="true" type="xsd:string"/>
            <xsd:element name="SectionDscTxt" nillable="true" type="xsd:string"/>
            <xsd:element name="Sentence" nillable="true" type="tns:SentenceType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SentenceType">
        <xsd:sequence>
            <xsd:element name="SntpCd" nillable="true" type="xsd:string"/>
            <xsd:element name="SentTermPeriodQty" nillable="true" type="xsd:string"/>
            <xsd:element name="SentTermCd" nillable="true" type="xsd:string"/>
            <xsd:element name="SentSubtermPeriodQty" nillable="true" type="xsd:string"/>
            <xsd:element name="SentSubtermCd" nillable="true" type="xsd:string"/>
            <xsd:element name="SentTertiaryTermPeriodQty" nillable="true" type="xsd:string"/>
            <xsd:element name="SentTertiaryTermCd" nillable="true" type="xsd:string"/>
            <xsd:element name="SentIntermittentYn" nillable="true" type="xsd:string"/>
            <xsd:element name="SentMonetaryAmt" nillable="true" type="xsd:string"/>
            <xsd:element name="SentDueTtpDt" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="SentEffectiveDt" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="SentDetailTxt" nillable="true" type="xsd:string"/>
            <xsd:element name="SentYcjaAdultYouthCd" nillable="true" type="xsd:string"/>
            <xsd:element name="SentCustodySecureYn" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PartyAppearanceMethodType">
        <xsd:sequence>
            <xsd:element name="PartyName" nillable="true"  type="xsd:string"/>
            <xsd:element name="PartyRole" nillable="true"  type="xsd:string"/>
            <xsd:element name="PartId" nillable="true"  type="xsd:string"/>
            <xsd:element name="PartyAppearanceMethod" nillable="true"  type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>

