ccd-court-list-secure-models/src/main/resources/xsdSchemas/courtListSecure-2.xsd

<xsd:schema xmlns:dx="http://courts.gov.bc.ca/XMLSchema/CriminalFileContent/1.0.0"
            targetNamespace="http://courts.gov.bc.ca/XMLSchema/CriminalFileContent/1.0.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="HearingRestrictiontype" type="xsd:string"/>
    <xsd:element name="JudgeName" type="xsd:string"/>
    <xsd:element name="HearingRestrictionDate" type="xsd:string"/>
</xsd:schema>