ccd-civil-models/src/main/resources/xsdSchemas/civilFileContent.xsd

<xsd:schema targetNamespace="http://courts.ag.gov.bc.ca/CCD.Source.CivilFileContent.ws:CivilFileContent"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://courts.ag.gov.bc.ca/CCD.Source.CivilFileContent.ws:CivilFileContent">

    <xsd:element name="getCivilFileContent">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CourtLocaCd" type="xsd:string" minOccurs="0"/>
                <xsd:element name="CourtRoomCd" type="xsd:string" minOccurs="0"/>
                <xsd:element name="CourtProceedingDate" type="xsd:dateTime" minOccurs="0"/>
                <xsd:element name="AppearanceId" type="xsd:long" minOccurs="0"/>
                <xsd:element name="PhysicalFileId" nillable="true" type="xsd:string"/>
                <xsd:element name="ApplicationCd" nillable="true" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getCivilFileContentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CivilFileContentDoc" nillable="true" type="tns:CivilFileContentDoc"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="CivilFileContentDoc">
        <xsd:sequence>
            <xsd:element name="CourtLocaCd" nillable="true" type="xsd:string"/>
            <xsd:element name="CourtRoomCd" nillable="true" type="xsd:string"/>
            <xsd:element name="CourtProceedingDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="AppearanceId" nillable="true" type="xsd:string" maxOccurs="unbounded"/>
            <xsd:element name="PhysicalFileId" nillable="true" type="xsd:string"/>
            <xsd:element name="CivilFile" nillable="true" type="tns:CivilFileType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CivilFileType">
        <xsd:sequence>
            <xsd:element name="PhysicalFileID" nillable="true" type="xsd:string"/>
            <xsd:element name="FileNumber" nillable="true" type="xsd:string"/>
            <xsd:element name="CourtLevelCd" nillable="true" type="xsd:string"/>
            <xsd:element name="CourtClassCd" nillable="true" type="xsd:string"/>
            <xsd:element name="IndigencyGrantedYN" nillable="true" type="xsd:string"/>
            <xsd:element name="InfantFileYN" nillable="true" type="xsd:string"/>
            <xsd:element name="CFCSAFileYN" nillable="true" type="xsd:string"/>
            <xsd:element name="MarriagePlaceText" nillable="true" type="xsd:string"/>
            <xsd:element name="MarriageDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="DivorceDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="FederalClearanceDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="CentralRegNumber" nillable="true" type="xsd:string"/>
            <xsd:element name="CaveatExpiryDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="ProbateFileNumber" nillable="true" type="xsd:string"/>
            <xsd:element name="CaveatCancelledYN" nillable="true" type="xsd:string"/>
            <xsd:element name="AssetDeclaredAmt" nillable="true" type="xsd:string"/>
            <xsd:element name="ProbateFeeAmt" nillable="true" type="xsd:string"/>
            <xsd:element name="ProbateEnteredDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="AdditionalAssetDeclaredAmt" nillable="true" type="xsd:string"/>
            <xsd:element name="AdditionalProbateFeeAmt" nillable="true" type="xsd:string"/>
            <xsd:element name="EstateValueAmt" nillable="true" type="xsd:string"/>
            <xsd:element name="OutsideBCAssetAmt" nillable="true" type="xsd:string"/>
            <xsd:element name="AssetCommentText" nillable="true" type="xsd:string"/>
            <xsd:element name="FileCommentText" nillable="true" type="xsd:string"/>
            <xsd:element name="SealedYN" nillable="true" type="xsd:string"/>
            <xsd:element name="SheriffCommentText" nillable="true" type="xsd:string"/>
            <xsd:element name="FileLocaAgencyIdentifierCd" nillable="true" type="xsd:string"/>
            <xsd:element name="SpecialProgram" nillable="true" type="tns:SpecialProgramType" maxOccurs="unbounded"/>
            <xsd:element name="PreviousAppearance" nillable="true" type="tns:PreviousAppearanceType"
                         maxOccurs="unbounded"/>
            <xsd:element name="Document" nillable="true" type="tns:DocumentType" maxOccurs="unbounded"/>
            <xsd:element name="ReferenceDocument" nillable="true" type="tns:ReferenceDocumentType"
                         maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SpecialProgramType">
        <xsd:sequence>
            <xsd:element name="SpecialProgramDsc" nillable="true" type="xsd:string"/>
            <xsd:element name="ProgramEntryDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="ProgramEntryReasonDsc" nillable="true" type="xsd:string"/>
            <xsd:element name="ProgramExitDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="ProgramExitReasonDsc" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PreviousAppearanceType">
        <xsd:sequence>
            <xsd:element name="AppearanceId" nillable="true" type="xsd:string"/>
            <xsd:element name="AppearanceDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="CourtAgencyIdentifier" nillable="true" type="xsd:string"/>
            <xsd:element name="CourtRoom" nillable="true" type="xsd:string"/>
            <xsd:element name="AdjudicatorName" nillable="true" type="xsd:string"/>
            <xsd:element name="AdjudicatorComment" nillable="true" type="xsd:string"/>
            <xsd:element name="AdjudicatorAppearanceMethod" nillable="true" type="xsd:string"/>
            <xsd:element name="HearingLanguageCd" nillable="true" type="xsd:string"/>
            <xsd:element name="DocumentHearing" nillable="true" type="tns:DocumentHearingType" maxOccurs="unbounded"/>
            <xsd:element name="CourtParticipant" nillable="true" type="tns:CourtParticipantType" maxOccurs="unbounded"/>
            <xsd:element name="GeneralAttendee" nillable="true" type="tns:GeneralAttendeeType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocumentHearingType">
        <xsd:sequence>
            <xsd:element name="DocumentId" nillable="true" type="xsd:string"/>
            <xsd:element name="FileSeqNumber" nillable="true" type="xsd:string"/>
            <xsd:element name="DocumentTypeCd" nillable="true" type="xsd:string"/>
            <xsd:element name="DocumentTypeDescription" nillable="true" type="xsd:string"/>
            <xsd:element name="OrderDocumentYN" nillable="true" type="xsd:string"/>
            <xsd:element name="AppearanceReasonCode" nillable="true" type="xsd:string"/>
            <xsd:element name="AppearanceResultCode" nillable="true" type="xsd:string"/>
            <xsd:element name="Issue" nillable="true" type="tns:IssueType" maxOccurs="unbounded"/>
            <xsd:element name="FiledBy" nillable="true" type="tns:FiledByType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="IssueType">
        <xsd:sequence>
            <xsd:element name="IssueDsc" nillable="true" type="xsd:string"/>
            <xsd:element name="IssueNumber" nillable="true" type="xsd:string"/>
            <xsd:element name="ConcludedYN" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FiledByType">
        <xsd:sequence>
            <xsd:element name="FiledByName" nillable="true" type="xsd:string"/>
            <xsd:element name="RoleTypeCode" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CourtParticipantType">
        <xsd:sequence>
            <xsd:element name="PartyName" nillable="true" type="xsd:string"/>
            <xsd:element name="PartyRole" nillable="true" type="xsd:string"/>
            <xsd:element name="PartId" nillable="true" type="xsd:string"/>
            <xsd:element name="PartyAppearanceMethod" nillable="true" type="xsd:string"/>
            <xsd:element name="LeftRightParty" nillable="true" type="xsd:string"/>
            <xsd:element name="InterpreterLanguageCd" nillable="true" type="xsd:string"/>
            <xsd:element name="Counsel" nillable="true" type="tns:CounselType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CounselType">
        <xsd:sequence>
            <xsd:element name="CounselName" nillable="true" type="xsd:string"/>
            <xsd:element name="CounselAppearanceMethod" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GeneralAttendeeType">
        <xsd:sequence>
            <xsd:element name="AttendeeName" nillable="true" type="xsd:string"/>
            <xsd:element name="CounselName" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocumentType">
        <xsd:sequence>
            <xsd:element name="DocumentId" nillable="true" type="xsd:string"/>
            <xsd:element name="FileSeqNumber" nillable="true" type="xsd:string"/>
            <xsd:element name="DocumentTypeCd" nillable="true" type="xsd:string"/>
            <xsd:element name="DocumentTypeDescription" nillable="true" type="xsd:string"/>
            <xsd:element name="DocumentAccessLevelCd" nillable="true" type="xsd:string"/>
            <xsd:element name="DocumentSealEndDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="DocumentSealStartDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="DateGranted" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="EstimatedDocumentMinutes" nillable="true" type="xsd:string"/>
            <xsd:element name="EndedDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="DateVaried" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="CancelledDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="DocumentCommentText" nillable="true" type="xsd:string"/>
            <xsd:element name="OrderDocumentYN" nillable="true" type="xsd:string"/>
            <xsd:element name="POROrderYN" nillable="true" type="xsd:string"/>
            <xsd:element name="CFCOrderYN" nillable="true" type="xsd:string"/>
            <xsd:element name="ImageId" nillable="true" type="xsd:string"/>
            <xsd:element name="SealedYN" nillable="true" type="xsd:string"/>
            <xsd:element name="DocumentPageCount" nillable="true" type="xsd:string"/>
            <xsd:element name="SwornByNm" nillable="true" type="xsd:string"/>
            <xsd:element name="AffidavitNo" nillable="true" type="xsd:string"/>
            <xsd:element name="FilingLanguageCd" nillable="true" type="xsd:string"/>
            <xsd:element name="Issue" nillable="true" type="tns:IssueType" maxOccurs="unbounded"/>
            <xsd:element name="Appearance" nillable="true" type="tns:AppearanceType" maxOccurs="unbounded"/>
            <xsd:element name="PartyInterest" nillable="true" type="tns:PartyInterestType" maxOccurs="unbounded"/>
            <xsd:element name="FiledBy" nillable="true" type="tns:FiledByType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AppearanceType">
        <xsd:sequence>
            <xsd:element name="AppearanceId" nillable="true" type="xsd:string"/>
            <xsd:element name="AppearanceDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="CourtAgencyIdentifier" nillable="true" type="xsd:string"/>
            <xsd:element name="CourtRoom" nillable="true" type="xsd:string"/>
            <xsd:element name="AppearanceReason" nillable="true" type="xsd:string"/>
            <xsd:element name="HearingLanguageCd" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PartyInterestType">
        <xsd:sequence>
            <xsd:element name="OrderRoleTypeDsc" nillable="true" type="xsd:string"/>
            <xsd:element name="PartyName" nillable="true" type="xsd:string"/>
            <xsd:element name="PartyBirthDate" nillable="true" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReferenceDocumentType">
        <xsd:sequence>
            <xsd:element name="ReferenceDocumentId" nillable="true" type="xsd:string"/>
            <xsd:element name="ReferenceDocumentNo" nillable="true" type="xsd:string"/>
            <xsd:element name="AppearanceId" nillable="true" type="xsd:string"/>
            <xsd:element name="AppearanceDate" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="ObjectGuid" nillable="true" type="xsd:string"/>
            <xsd:element name="DescriptionText" nillable="true" type="xsd:string"/>
            <xsd:element name="EnterDtm" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="ReferenceDocumentTypeCd" nillable="true" type="xsd:string"/>
            <xsd:element name="ReferenceDocumentTypeDsc" nillable="true" type="xsd:string"/>
            <xsd:element name="ReferenceDocumentInterest" nillable="true" type="tns:ReferenceDocInterest"
                         maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReferenceDocInterest">
        <xsd:sequence>
            <xsd:element name="PartyId" nillable="true" type="xsd:string"/>
            <xsd:element name="PartyName" nillable="true" type="xsd:string"/>
            <xsd:element name="NonPartyName" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>

