jag-ccd-application/src/main/resources/xsdSchemas/civilFileContentSecure.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="CivilFileContentSecure" targetNamespace="http://courts.ag.gov.bc.ca/CCD.Source.CivilFileContent.ws:CivilFileContent" xmlns:tns1="http://courts.ag.gov.bc.ca/CCD.Source.CivilFileContent.ws:CivilFileContent" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://reeks.bcgov/CCD.Source.CivilFileContent.ws:CivilFileContentSecure" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    <wsdl:types>
        <xsd:schema xmlns:tns="http://courts.ag.gov.bc.ca/CCD.Source.CivilFileContent.ws:CivilFileContent" targetNamespace="http://courts.ag.gov.bc.ca/CCD.Source.CivilFileContent.ws:CivilFileContent" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="getCivilFileContentSecure" type="tns:getCivilFileContentSecure"/>
            <xsd:element name="getCivilFileContentSecureResponse" type="tns:getCivilFileContentSecureResponse"/>
            <xsd:complexType name="getCivilFileContentSecure">
                <xsd:sequence>
                    <xsd:element name="RequestAgencyIdentifierId" nillable="true" type="xsd:string"/>
                    <xsd:element name="RequestPartId" nillable="true" type="xsd:string"/>
                    <xsd:element name="RequestDtm" nillable="true" type="xsd:string"/>
                    <xsd:element name="ApplicationCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="CourtLocaCd" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CourtRoomCd" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="CourtProceedingDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="AppearanceId" type="xsd:long" minOccurs="0"/>
                    <xsd:element name="PhysicalFileId" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCivilFileContentSecureResponse">
                <xsd:sequence>
                    <xsd:element name="ResultCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="ResultMessage" nillable="true" type="xsd:string"/>
                    <xsd:element name="CivilFileContentDoc" nillable="true" type="tns:CivilFileContentDoc"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CivilFileContentDoc">
                <xsd:sequence>
                    <xsd:element name="CourtLocaCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="CourtRoomCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="CourtProceedingDate" nillable="true" type="xsd:string"/>
                    <xsd:element name="AppearanceId" nillable="true" type="xsd:string" maxOccurs="unbounded"/>
                    <xsd:element name="PhysicalFileId" nillable="true" type="xsd:string"/>
                    <xsd:element name="CivilFile" nillable="true" type="tns:CivilFileType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CivilFileType">
                <xsd:sequence>
                    <xsd:element name="PhysicalFileID" nillable="true" type="xsd:string"/>
                    <xsd:element name="FileNumber" nillable="true" type="xsd:string"/>
                    <xsd:element name="CourtLevelCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="CourtClassCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="IndigencyGrantedYN" nillable="true" type="xsd:string"/>
                    <xsd:element name="InfantFileYN" nillable="true" type="xsd:string"/>
                    <xsd:element name="CFCSAFileYN" nillable="true" type="xsd:string"/>
                    <xsd:element name="MarriagePlaceText" nillable="true" type="xsd:string"/>
                    <xsd:element name="MarriageDate" nillable="true" type="xsd:string"/>
                    <xsd:element name="DivorceDate" nillable="true" type="xsd:string"/>
                    <xsd:element name="FederalClearanceDate" nillable="true" type="xsd:string"/>
                    <xsd:element name="CentralRegNumber" nillable="true" type="xsd:string"/>
                    <xsd:element name="CaveatExpiryDate" nillable="true" type="xsd:string"/>
                    <xsd:element name="ProbateFileNumber" nillable="true" type="xsd:string"/>
                    <xsd:element name="CaveatCancelledYN" nillable="true" type="xsd:string"/>
                    <xsd:element name="AssetDeclaredAmt" nillable="true" type="xsd:string"/>
                    <xsd:element name="ProbateFeeAmt" nillable="true" type="xsd:string"/>
                    <xsd:element name="ProbateEnteredDate" nillable="true" type="xsd:string"/>
                    <xsd:element name="AdditionalAssetDeclaredAmt" nillable="true" type="xsd:string"/>
                    <xsd:element name="AdditionalProbateFeeAmt" nillable="true" type="xsd:string"/>
                    <xsd:element name="EstateValueAmt" nillable="true" type="xsd:string"/>
                    <xsd:element name="OutsideBCAssetAmt" nillable="true" type="xsd:string"/>
                    <xsd:element name="AssetCommentText" nillable="true" type="xsd:string"/>
                    <xsd:element name="FileCommentText" nillable="true" type="xsd:string"/>
                    <xsd:element name="SealedYN" nillable="true" type="xsd:string"/>
                    <xsd:element name="SheriffCommentText" nillable="true" type="xsd:string"/>
                    <xsd:element name="FileLocaAgencyIdentifierCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="SpecialProgram" nillable="true" type="tns:SpecialProgramType" maxOccurs="unbounded"/>
                    <xsd:element name="PreviousAppearance" nillable="true" type="tns:PreviousAppearanceType" maxOccurs="unbounded"/>
                    <xsd:element name="Document" nillable="true" type="tns:DocumentType" maxOccurs="unbounded"/>
                    <xsd:element name="ReferenceDocument" nillable="true" type="tns:ReferenceDocumentType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SpecialProgramType">
                <xsd:sequence>
                    <xsd:element name="SpecialProgramDsc" nillable="true" type="xsd:string"/>
                    <xsd:element name="ProgramEntryDate" nillable="true" type="xsd:string"/>
                    <xsd:element name="ProgramEntryReasonDsc" nillable="true" type="xsd:string"/>
                    <xsd:element name="ProgramExitDate" nillable="true" type="xsd:string"/>
                    <xsd:element name="ProgramExitReasonDsc" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PreviousAppearanceType">
                <xsd:sequence>
                    <xsd:element name="AppearanceId" nillable="true" type="xsd:string"/>
                    <xsd:element name="AppearanceDate" nillable="true" type="xsd:string"/>
                    <xsd:element name="CourtAgencyIdentifier" nillable="true" type="xsd:string"/>
                    <xsd:element name="CourtRoom" nillable="true" type="xsd:string"/>
                    <xsd:element name="AdjudicatorName" nillable="true" type="xsd:string"/>
                    <xsd:element name="AdjudicatorComment" nillable="true" type="xsd:string"/>
                    <xsd:element name="AdjudicatorAppearanceMethod" nillable="true" type="xsd:string"/>
                    <xsd:element name="DocumentHearing" nillable="true" type="tns:DocumentHearingType" maxOccurs="unbounded"/>
                    <xsd:element name="CourtParticipant" nillable="true" type="tns:CourtParticipantType" maxOccurs="unbounded"/>
                    <xsd:element name="GeneralAttendee" nillable="true" type="tns:GeneralAttendeeType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DocumentHearingType">
                <xsd:sequence>
                    <xsd:element name="DocumentId" nillable="true" type="xsd:string"/>
                    <xsd:element name="FileSeqNumber" nillable="true" type="xsd:string"/>
                    <xsd:element name="DocumentTypeCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="DocumentTypeDescription" nillable="true" type="xsd:string"/>
                    <xsd:element name="OrderDocumentYN" nillable="true" type="xsd:string"/>
                    <xsd:element name="AppearanceReasonCode" nillable="true" type="xsd:string"/>
                    <xsd:element name="AppearanceResultCode" nillable="true" type="xsd:string"/>
                    <xsd:element name="Issue" nillable="true" type="tns:IssueType" maxOccurs="unbounded"/>
                    <xsd:element name="FiledBy" nillable="true" type="tns:FiledByType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="IssueType">
                <xsd:sequence>
                    <xsd:element name="IssueDsc" nillable="true" type="xsd:string"/>
                    <xsd:element name="IssueNumber" nillable="true" type="xsd:string"/>
                    <xsd:element name="ConcludedYN" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FiledByType">
                <xsd:sequence>
                    <xsd:element name="FiledByName" nillable="true" type="xsd:string"/>
                    <xsd:element name="RoleTypeCode" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CourtParticipantType">
                <xsd:sequence>
                    <xsd:element name="PartyName" nillable="true" type="xsd:string"/>
                    <xsd:element name="PartyRole" nillable="true" type="xsd:string"/>
                    <xsd:element name="PartId" nillable="true" type="xsd:string"/>
                    <xsd:element name="PartyAppearanceMethod" nillable="true" type="xsd:string"/>
                    <xsd:element name="LeftRightParty" nillable="true" type="xsd:string"/>
                    <xsd:element name="Counsel" nillable="true" type="tns:CounselType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CounselType">
                <xsd:sequence>
                    <xsd:element name="CounselName" nillable="true" type="xsd:string"/>
                    <xsd:element name="CounselAppearanceMethod" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GeneralAttendeeType">
                <xsd:sequence>
                    <xsd:element name="AttendeeName" nillable="true" type="xsd:string"/>
                    <xsd:element name="CounselName" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DocumentType">
                <xsd:sequence>
                    <xsd:element name="DocumentId" nillable="true" type="xsd:string"/>
                    <xsd:element name="FileSeqNumber" nillable="true" type="xsd:string"/>
                    <xsd:element name="DocumentTypeCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="DocumentTypeDescription" nillable="true" type="xsd:string"/>
                    <xsd:element name="DocumentAccessLevelCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="DocumentSealEndDate" nillable="true" type="xsd:string"/>
                    <xsd:element name="DocumentSealStartDate" nillable="true" type="xsd:string"/>
                    <xsd:element name="DateGranted" nillable="true" type="xsd:string"/>
                    <xsd:element name="EstimatedDocumentMinutes" nillable="true" type="xsd:string"/>
                    <xsd:element name="EndedDate" nillable="true" type="xsd:string"/>
                    <xsd:element name="DateVaried" nillable="true" type="xsd:string"/>
                    <xsd:element name="CancelledDate" nillable="true" type="xsd:string"/>
                    <xsd:element name="DocumentCommentText" nillable="true" type="xsd:string"/>
                    <xsd:element name="OrderDocumentYN" nillable="true" type="xsd:string"/>
                    <xsd:element name="POROrderYN" nillable="true" type="xsd:string"/>
                    <xsd:element name="CFCOrderYN" nillable="true" type="xsd:string"/>
                    <xsd:element name="ImageId" nillable="true" type="xsd:string"/>
                    <xsd:element name="SealedYN" nillable="true" type="xsd:string"/>
                    <xsd:element name="DocumentPageCount" nillable="true" type="xsd:string"/>
                    <xsd:element name="SwornByNm" nillable="true" type="xsd:string"/>
                    <xsd:element name="AffidavitNo" nillable="true" type="xsd:string"/>
                    <xsd:element name="Issue" nillable="true" type="tns:IssueType" maxOccurs="unbounded"/>
                    <xsd:element name="Appearance" nillable="true" type="tns:AppearanceType" maxOccurs="unbounded"/>
                    <xsd:element name="PartyInterest" nillable="true" type="tns:PartyInterestType" maxOccurs="unbounded"/>
                    <xsd:element name="FiledBy" nillable="true" type="tns:FiledByType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AppearanceType">
                <xsd:sequence>
                    <xsd:element name="AppearanceId" nillable="true" type="xsd:string"/>
                    <xsd:element name="AppearanceDate" nillable="true" type="xsd:string"/>
                    <xsd:element name="CourtAgencyIdentifier" nillable="true" type="xsd:string"/>
                    <xsd:element name="CourtRoom" nillable="true" type="xsd:string"/>
                    <xsd:element name="AppearanceReason" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PartyInterestType">
                <xsd:sequence>
                    <xsd:element name="OrderRoleTypeDsc" nillable="true" type="xsd:string"/>
                    <xsd:element name="PartyName" nillable="true" type="xsd:string"/>
                    <xsd:element name="PartyBirthDate" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReferenceDocumentType">
                <xsd:sequence>
                    <xsd:element name="ReferenceDocumentId" nillable="true" type="xsd:string"/>
                    <xsd:element name="ReferenceDocumentNo" nillable="true" type="xsd:string"/>
                    <xsd:element name="AppearanceId" nillable="true" type="xsd:string"/>
                    <xsd:element name="AppearanceDate" nillable="true" type="xsd:string"/>
                    <xsd:element name="ObjectGuid" nillable="true" type="xsd:string"/>
                    <xsd:element name="DescriptionText" nillable="true" type="xsd:string"/>
                    <xsd:element name="EnterDtm" nillable="true" type="xsd:string"/>
                    <xsd:element name="ReferenceDocumentTypeCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="ReferenceDocumentTypeDsc" nillable="true" type="xsd:string"/>
                    <xsd:element name="ReferenceDocumentInterest" nillable="true" type="tns:ReferenceDocInterest" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReferenceDocInterest">
                <xsd:sequence>
                    <xsd:element name="PartyId" nillable="true" type="xsd:string"/>
                    <xsd:element name="PartyName" nillable="true" type="xsd:string"/>
                    <xsd:element name="NonPartyName" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CivilFileContentSecure_PortType_getCivilFileContentSecure">
        <wsdl:part name="parameters" element="tns1:getCivilFileContentSecure">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="CivilFileContentSecure_PortType_getCivilFileContentSecureResponse">
        <wsdl:part name="parameters" element="tns1:getCivilFileContentSecureResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CivilFileContentSecure_PortType">
        <wsdl:operation name="getCivilFileContentSecure">
            <wsdl:input message="tns1:CivilFileContentSecure_PortType_getCivilFileContentSecure">
            </wsdl:input>
            <wsdl:output message="tns1:CivilFileContentSecure_PortType_getCivilFileContentSecureResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CCD_Source_CivilFileContent_ws_CivilFileContentSecure_Binder" type="tns1:CivilFileContentSecure_PortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCivilFileContentSecure">
            <soap12:operation soapAction="CCD_Source_CivilFileContent_ws_CivilFileContentSecure_Binder_getCivilFileContentSecure" style="document"/>
            <wsdl:input>
                <soap12:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CivilFileContentSecure">
        <wsdl:port name="CCD_Source_CivilFileContent_ws_CivilFileContentSecure_Port" binding="tns1:CCD_Source_CivilFileContent_ws_CivilFileContentSecure_Binder">
            <soap12:address location="http://reeks.bcgov:5555/ws/CCD.Source.CivilFileContent.ws:CivilFileContentSecure/CCD_Source_CivilFileContent_ws_CivilFileContentSecure_Port"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
