jag-ccd-application/src/main/resources/xsdSchemas/codeValuesSecure.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="CodeValuesSecure" targetNamespace="http://reeks.bcgov/CCD.Source.CodeValues.ws.provider:CodeValuesSecure" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://reeks.bcgov/CCD.Source.CodeValues.ws.provider:CodeValuesSecure" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://reeks.bcgov/CCD.Source.CodeValues.ws.provider:CodeValuesSecure" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://reeks.bcgov/CCD.Source.CodeValues.ws.provider:CodeValuesSecure">
            <xsd:element name="getCodeValuesSecure" type="tns:getCodeValuesSecure"/>
            <xsd:element name="getCodeValuesSecureResponse" type="tns:getCodeValuesSecureResponse"/>
            <xsd:complexType name="getCodeValuesSecure">
                <xsd:sequence>
                    <xsd:element name="RequestAgencyIdentifierId" nillable="true" type="xsd:string"/>
                    <xsd:element name="RequestPartId" nillable="true" type="xsd:string"/>
                    <xsd:element name="RequestDtm" nillable="true" type="xsd:string"/>
                    <xsd:element name="ApplicationCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="LastRetrievedDate" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCodeValuesSecureResponse">
                <xsd:sequence>
                    <xsd:element name="ResultCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="ResultMessage" nillable="true" type="xsd:string"/>
                    <xsd:element name="CeisCodeValues" nillable="true" type="tns:CodeValues"/>
                    <xsd:element name="JustinCodeValues" nillable="true" type="tns:CodeValues"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CodeValues">
                <xsd:sequence>
                    <xsd:element name="CodeValue" nillable="true" type="tns:CodeValue" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CodeValue">
                <xsd:sequence>
                    <xsd:element name="codeType" nillable="true" type="xsd:string"/>
                    <xsd:element name="code" nillable="true" type="xsd:string"/>
                    <xsd:element name="shortDesc" nillable="true" type="xsd:string"/>
                    <xsd:element name="longDesc" nillable="true" type="xsd:string"/>
                    <xsd:element name="flex" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CodeValuesSecure_PortType_getCodeValuesSecure">
        <wsdl:part name="parameters" element="tns:getCodeValuesSecure">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="CodeValuesSecure_PortType_getCodeValuesSecureResponse">
        <wsdl:part name="parameters" element="tns:getCodeValuesSecureResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CodeValuesSecure_PortType">
        <wsdl:operation name="getCodeValuesSecure">
            <wsdl:input message="tns:CodeValuesSecure_PortType_getCodeValuesSecure">
            </wsdl:input>
            <wsdl:output message="tns:CodeValuesSecure_PortType_getCodeValuesSecureResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CCD_Source_CodeValues_ws_provider_CodeValuesSecure_Binder" type="tns:CodeValuesSecure_PortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCodeValuesSecure">
            <soap12:operation soapAction="CCD_Source_CodeValues_ws_provider_CodeValuesSecure_Binder_getCodeValuesSecure" style="document"/>
            <wsdl:input>
                <soap12:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CodeValuesSecure">
        <wsdl:port name="CCD_Source_CodeValues_ws_provider_CodeValuesSecure_Port" binding="tns:CCD_Source_CodeValues_ws_provider_CodeValuesSecure_Binder">
            <soap12:address location="http://reeks.bcgov:5555/ws/CCD.Source.CodeValues.ws.provider:CodeValuesSecure/CCD_Source_CodeValues_ws_provider_CodeValuesSecure_Port"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
