jag-ccd-application/src/main/resources/xsdSchemas/getParticipantInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="getParticipantInfo" targetNamespace="http://reeks.bcgov/CCD.Source.GetParticipantInfo.WS:getParticipantInfo" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" xmlns:tns="http://reeks.bcgov/CCD.Source.GetParticipantInfo.WS:getParticipantInfo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://reeks.bcgov/CCD.Source.GetParticipantInfo.WS:getParticipantInfo" xmlns:tns="http://reeks.bcgov/CCD.Source.GetParticipantInfo.WS:getParticipantInfo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="getParticipantInfo" type="tns:getParticipantInfo"/>
            <xsd:element name="getParticipantInfoResponse" type="tns:getParticipantInfoResponse"/>
            <xsd:complexType name="getParticipantInfo">
                <xsd:sequence>
                    <xsd:element name="GUID" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getParticipantInfoResponse">
                <xsd:sequence>
                    <xsd:element name="GetParticipantInfoResponse" nillable="true" type="tns:GetParticipantInfoResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="GetParticipantInfoResponse">
                <xsd:sequence>
                    <xsd:element name="PartID" nillable="true" type="xsd:string"/>
                    <xsd:element name="AgenID" nillable="true" type="xsd:string"/>
                    <xsd:element name="RoleCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="SubRoleCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="ErrorMsg" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getParticipantInfo_PortType_getParticipantInfo">
        <wsdl:part name="parameters" element="tns:getParticipantInfo">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getParticipantInfo_PortType_getParticipantInfoResponse">
        <wsdl:part name="parameters" element="tns:getParticipantInfoResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="getParticipantInfo_PortType">
        <wsdl:operation name="getParticipantInfo">
            <wsdl:input message="tns:getParticipantInfo_PortType_getParticipantInfo">
            </wsdl:input>
            <wsdl:output message="tns:getParticipantInfo_PortType_getParticipantInfoResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CCD_Source_GetParticipantInfo_WS_getParticipantInfo_Binder" type="tns:getParticipantInfo_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getParticipantInfo">
            <soap:operation soapAction="CCD_Source_GetParticipantInfo_WS_getParticipantInfo_Binder_getParticipantInfo" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CCD.Source.GetParticipantInfo.WS.getParticipantInfo">
        <wsdl:port name="CCD_Source_GetParticipantInfo_WS_getParticipantInfo_Port" binding="tns:CCD_Source_GetParticipantInfo_WS_getParticipantInfo_Binder">
            <soap:address location="http://reeks.bcgov:5555/ws/CCD.Source.GetParticipantInfo.WS.getParticipantInfo/CCD_Source_GetParticipantInfo_WS_getParticipantInfo_Port"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>