jag-ccd-application/src/main/resources/xsdSchemas/getRopReport.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetROPReport" targetNamespace="http://brooks.ag.gov.bc.ca/CCD.Source.GetROPReport.ws:GetROPReport" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapjms="http://www.w3.org/2008/07/soap/bindings/JMS/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://brooks.ag.gov.bc.ca/CCD.Source.GetROPReport.ws:GetROPReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://brooks.ag.gov.bc.ca/CCD.Source.GetROPReport.ws:GetROPReport" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://brooks.ag.gov.bc.ca/CCD.Source.GetROPReport.ws:GetROPReport">
            <xsd:complexType name="getROPReport">
                <xsd:sequence>
                    <xsd:element name="ROPRequest" nillable="true" type="tns:Rop"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Rop">
                <xsd:sequence>
                    <xsd:element name="Param1" nillable="true" type="xsd:string"/>
                    <xsd:element name="Param2" nillable="true" type="xsd:string"/>
                    <xsd:element name="FormCd" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getROPReportResponse">
                <xsd:sequence>
                    <xsd:element name="ROPResponse" nillable="true" type="tns:RopResult"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RopResult">
                <xsd:sequence>
                    <xsd:element name="B64Content" nillable="true" type="xsd:string"/>
                    <xsd:element name="ResultCd" nillable="true" type="xsd:string"/>
                    <xsd:element name="ResultMessage" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getROPReport" type="tns:getROPReport"/>
            <xsd:element name="getROPReportResponse" type="tns:getROPReportResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetROPReport_PortType_getROPReport">
        <wsdl:part name="parameters" element="tns:getROPReport">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetROPReport_PortType_getROPReportResponse">
        <wsdl:part name="parameters" element="tns:getROPReportResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GetROPReport_PortType">
        <wsdl:operation name="getROPReport">
            <wsdl:input message="tns:GetROPReport_PortType_getROPReport">
            </wsdl:input>
            <wsdl:output message="tns:GetROPReport_PortType_getROPReportResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CCD_Source_GetROPReport_ws_GetROPReport_Binder" type="tns:GetROPReport_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getROPReport">
            <soap:operation soapAction="CCD_Source_GetROPReport_ws_GetROPReport_Binder_getROPReport" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetROPReport">
        <wsdl:port name="CCD_Source_GetROPReport_ws_GetROPReport_Port" binding="tns:CCD_Source_GetROPReport_ws_GetROPReport_Binder">
            <soap:address location="http://reeks.bcgov:5555/ws/CCD.Source.GetROPReport.ws:GetROPReport/CCD_Source_GetROPReport_ws_GetROPReport_Port"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
